.footer-sec {
    width: 100%;
    /* height: 400px; */
    padding-top: 40px;
    background-color: rgb(211, 147, 102);
    color: aliceblue;
}

.about-link {
    text-decoration: none;
}

.polotana-text {
    color: rgb(126, 12, 120);
}

.footer-rkm-name {
    font-weight: 900;
}

.footer-contact-text {
    font-weight: 300;
    color: whitesmoke;
}

.rkm-timing {
    font-weight: 900;
    font-size: 20px;
}

.footer-time-text{
    font-weight: 300;
    color: whitesmoke;
}