.pujas-btn-div {
    margin-top: 100px;
    margin-bottom: 50px;
}

.puja-btn {
    background-color: aliceblue;
    border: 0;
}

.puja-btn:hover {
    background-color: bisque;
    color: chocolate
}

.puja-card-col {
    transition: 0.3s ease-in-out
}

.puja-card-col:hover {
    transform: scale(1.03);
}

.puja-pic-row {
    padding-top: 30px;
}

.puja-pic-card {
    margin-bottom: 20px;
}

.puja-pic {
    height: 300px;
    padding: 12px;
    border-radius: 15px;
}

@-webkit-keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@-moz-keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-30px);
    }

    60% {
        transform: translateX(-15px);
    }
}

/* Arrow right Bounce */
@keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    60% {
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

.rightArrow {
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    /* float: right; */
    padding-left: 40px;
}